[package]
name = "openminedash-pools"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
serde.workspace = true
serde_json.workspace = true
tokio.workspace = true
thiserror.workspace = true
tracing.workspace = true
native-tls = "0.2"
tokio-native-tls = "0.3"
